<nav class="container-fluid fixed-top">
  <div *ngIf="!mediumSize; else mediumnav" class="bg-white align-items-center row pt-4">
    <div class="col-4 d-flex justify-content-center">
      <fa-icon class="btn my-auto" *ngIf="mediumSize" (click)="sidenav.toggle()" [icon]="faMenu"></fa-icon>
      <a routerLink="/" class="h1 text-center text-success">Localia</a>
    </div>
    <div class="col-4 row border border-success rounded p-2 ">
      <label for="search" class="m-0">
        <fa-icon class="text-success col-1" [icon]="faSearch"></fa-icon>
      </label>
      <input id="search" class="border-0 col-8 pl-0" type="text" placeholder="Busca tus productos">
    </div>
    <div class="text-right col-4 ">
      <fa-icon size="2x" [icon]="faUser" class=" p-0 text-success mr-3"></fa-icon>
      <fa-icon size="2x" [icon]="faShoppingCart" class="p-0 text-success mr-3"></fa-icon>
    </div>
  </div>
</nav>
<ng-template #mediumnav>
  <div class="bg-white align-items-center row">
    <div class="col-4 text-left">
      <fa-icon [icon]="faMenu" (click)="sidenav.toggle()" class="btn text-success icon p-1"></fa-icon>
      <fa-icon [icon]="faSearch" (click)="openDialog()" class="btn text-success icon p-1"  ></fa-icon>
    </div>
    <div class="text-center col-4">
      <img src="assets/images/Localialogo.png" routerLink="/" class="h3 text-center text-success" alt="logo">
    </div>
    <div class="text-right col-4">
      <fa-icon [icon]="faUser" class="btn icon p-1 text-success"></fa-icon>
      <fa-icon [icon]="faShoppingCart" class="btn icon p-1 text-success"></fa-icon>
    </div>
  </div>
</ng-template>

  <mat-sidenav-container [hasBackdrop]="mediumSize">
    <mat-sidenav #sidenav fixedInViewport [fixedTopGap]="mediumSize ? 40 : 80"
                 [mode]="mediumSize ? 'over' : 'side'"
                 [opened]="!mediumSize" [disableClose]="!mediumSize" class="green">

      <mat-nav-list class="text-white p-0" role="navigation">
        <a mat-list-item routerLink="/frutas" class="pl-3 text-white"> Frutas </a>
        <a mat-list-item routerLink="/verduras" class="pl-3 text-white"> Verduras </a>
        <a mat-list-item class="pl-3 text-white"> Frutos secos </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

<!--    <mat-expansion-panel class="green rounded-0">-->
<!--      <mat-expansion-panel-header>-->
<!--        <mat-panel-title class="text-white">-->
<!--          Frutos secos-->
<!--        </mat-panel-title>-->
<!--      </mat-expansion-panel-header>-->

<!--      <mat-nav-list role="navigation">-->
<!--        <a mat-list-item> Pepper </a>-->
<!--        <a mat-list-item> Salt </a>-->
<!--        <a mat-list-item> Paprika </a>-->
<!--      </mat-nav-list>-->

<!--    </mat-expansion-panel>-->
