<div class="d-flex flex-wrap justify-content-around mx-2">
  <div class="d-flex justify-content-center mb-3 card">
    <div class="location mt-2">
      <fa-icon class="mx-2" [icon]="faMapMarkerAlt"></fa-icon>
      <span>Gáldar, Gran Canaria</span>
    </div>
    <img class="mx-auto" src="assets/images/platano.png" height="200" width="200" alt="">
    <div class="container">
      <h4>Plátano - Fruterías Martínez</h4>
      <h4>0,55€/kg</h4>
    </div>
    <button type="button" class=" m-2 bg-white btn text-success border-success">Añadir</button>
  </div>
  <div class="d-flex justify-content-center mb-3 card">
    <div class="location mt-2">
      <fa-icon class="mx-2" [icon]="faMapMarkerAlt"></fa-icon>
      <span>Gáldar, Gran Canaria</span>
    </div>
    <img class="mx-auto" src="assets/images/platano.png" height="200" width="200" alt="">
    <div class="container">
      <h4>Plátano - Fruterías Martínez</h4>
      <h4>0,55€/kg</h4>
    </div>
    <button type="button" class=" m-2 bg-white btn text-success border-success">Añadir</button>
  </div>
  <div class="d-flex justify-content-center mb-3 card">
    <div class="location mt-2">
      <fa-icon class="mx-2" [icon]="faMapMarkerAlt"></fa-icon>
      <span>Gáldar, Gran Canaria</span>
    </div>
    <img class="mx-auto" src="assets/images/platano.png" height="200" width="200" alt="">
    <div class="container">
      <h4>Plátano - Fruterías Martínez</h4>
      <h4>0,55€/kg</h4>
    </div>
    <button type="button" class=" m-2 bg-white btn text-success border-success">Añadir</button>
  </div>
  <div class="d-flex justify-content-center mb-3 card">
    <div class="location mt-2">
      <fa-icon class="mx-2" [icon]="faMapMarkerAlt"></fa-icon>
      <span>Gáldar, Gran Canaria</span>
    </div>
    <img class="mx-auto" src="assets/images/platano.png" height="200" width="200" alt="">
    <div class="container">
      <h4>Plátano - Fruterías Martínez</h4>
      <h4>0,55€/kg</h4>
    </div>
    <button type="button" class=" m-2 bg-white btn text-success border-success">Añadir</button>
  </div>
  <div class="d-flex justify-content-center mb-3 card">
    <div class="location mt-2">
      <fa-icon class="mx-2" [icon]="faMapMarkerAlt"></fa-icon>
      <span>Gáldar, Gran Canaria</span>
    </div>
    <img class="mx-auto" src="assets/images/platano.png" height="200" width="200" alt="">
    <div class="container">
      <h4>Plátano - Fruterías Martínez</h4>
      <h4>0,55€/kg</h4>
    </div>
    <button type="button" class=" m-2 bg-white btn text-success border-success">Añadir</button>
  </div>
  <div class="d-flex justify-content-center mb-3 card">
    <div class="location mt-2">
      <fa-icon class="mx-2" [icon]="faMapMarkerAlt"></fa-icon>
      <span>Gáldar, Gran Canaria</span>
    </div>
    <img class="mx-auto" src="assets/images/platano.png" height="200" width="200" alt="">
    <div class="container">
      <h4>Plátano - Fruterías Martínez</h4>
      <h4>0,55€/kg</h4>
    </div>
    <button type="button" class=" m-2 bg-white btn text-success border-success">Añadir</button>
  </div>
  <div class="d-flex justify-content-center mb-3 card">
    <div class="location mt-2">
      <fa-icon class="mx-2" [icon]="faMapMarkerAlt"></fa-icon>
      <span>Gáldar, Gran Canaria</span>
    </div>
    <img class="mx-auto" src="assets/images/platano.png" height="200" width="200" alt="">
    <div class="container">
      <h4>Plátano - Fruterías Martínez</h4>
      <h4>0,55€/kg</h4>
    </div>
    <button type="button" class=" m-2 bg-white btn text-success border-success">Añadir</button>
  </div>
  <div class="d-flex justify-content-center mb-3 card">
    <div class="location mt-2">
      <fa-icon class="mx-2" [icon]="faMapMarkerAlt"></fa-icon>
      <span>Gáldar, Gran Canaria</span>
    </div>
    <img class="mx-auto" src="assets/images/platano.png" height="200" width="200" alt="">
    <div class="container">
      <h4>Plátano - Fruterías Martínez</h4>
      <h4>0,55€/kg</h4>
    </div>
    <button type="button" class=" m-2 bg-white btn text-success border-success">Añadir</button>
  </div>
</div>
