<div class="d-flex flex-wrap justify-content-around mx-2">
  <div class="d-flex justify-content-center mb-3 card">
    <div class="location mt-2">
      <fa-icon class="mx-2" [icon]="faMapMarkerAlt"></fa-icon>
      <span>Gáldar, Gran Canaria</span>
    </div>
    <img class="mx-auto" src="assets/images/platano.png" height="150" width="150" alt="">
    <div class="container">
      <h4>Plátano - Fruterías Martínez</h4>
      <h4>0,55€/kg</h4>
    </div>
    <div class="wrapper">
      <div class="container mb-2">
        <div id="button" class="bottom">
          <div class="left">
            <button style="height: 40px" type="button" (click)="onClick()" class="w-100 bg-white btn localia-color localia-border">Añadir</button>
          </div>
          <div class="right">
            <div style="width: calc(100% - 1px)" class="bg-localia btn text-white localia-border">
              <div class="d-flex justify-content-center">
                <fa-icon (click)="decrease()" class="mx-2" [icon]="faMinus"></fa-icon>
                <input id="input" class="w-25 text-center font-weight-bolder bg-localia border-0 text-white" type="text" value="1">
                <fa-icon (click)="increase()" class="mx-2" [icon]="faPlus"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-3 card">
    <div class="location mt-2">
      <fa-icon class="mx-2" [icon]="faMapMarkerAlt"></fa-icon>
      <span>Gáldar, Gran Canaria</span>
    </div>
    <img class="mx-auto" src="assets/images/platano.png" height="150" width="150" alt="">
    <div class="container">
      <h4>Plátano - Fruterías Martínez</h4>
      <h4>0,55€/kg</h4>
    </div>
    <div class="wrapper">
      <div class="container mb-2">
        <div id="button2" class="bottom">
          <div class="left">
            <button style="height: 40px" type="button" (click)="onClick()" class="w-100 bg-white btn localia-color localia-border">Añadir</button>
          </div>
          <div class="right">
            <div style="width: calc(100% - 1px)" class="bg-localia btn text-white localia-border">
              <div class="d-flex justify-content-center">
                <fa-icon (click)="decrease()" class="mx-2" [icon]="faMinus"></fa-icon>
                <input id="input2" class="w-25 text-center font-weight-bolder bg-localia border-0 text-white" type="text" value="1">
                <fa-icon (click)="increase()" class="mx-2" [icon]="faPlus"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-3 card">
    <div class="location mt-2">
      <fa-icon class="mx-2" [icon]="faMapMarkerAlt"></fa-icon>
      <span>Gáldar, Gran Canaria</span>
    </div>
    <img class="mx-auto" src="assets/images/platano.png" height="150" width="150" alt="">
    <div class="container">
      <h4>Plátano - Fruterías Martínez</h4>
      <h4>0,55€/kg</h4>
    </div>
    <div class="wrapper">
      <div class="container mb-2">
        <div id="button3" class="bottom">
          <div class="left">
            <button style="height: 40px" type="button" (click)="onClick()" class="w-100 bg-white btn localia-color localia-border">Añadir</button>
          </div>
          <div class="right">
            <div style="width: calc(100% - 1px)" class="bg-localia btn text-white localia-border">
              <div class="d-flex justify-content-center">
                <fa-icon (click)="decrease()" class="mx-2" [icon]="faMinus"></fa-icon>
                <input id="input3" class="w-25 text-center font-weight-bolder bg-localia border-0 text-white" type="text" value="1">
                <fa-icon (click)="increase()" class="mx-2" [icon]="faPlus"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-3 card">
    <div class="location mt-2">
      <fa-icon class="mx-2" [icon]="faMapMarkerAlt"></fa-icon>
      <span>Gáldar, Gran Canaria</span>
    </div>
    <img class="mx-auto" src="assets/images/platano.png" height="150" width="150" alt="">
    <div class="container">
      <h4>Plátano - Fruterías Martínez</h4>
      <h4>0,55€/kg</h4>
    </div>
    <div class="wrapper">
      <div class="container mb-2">
        <div id="button4" class="bottom">
          <div class="left">
            <button style="height: 40px" type="button" (click)="onClick()" class="w-100 bg-white btn localia-color localia-border">Añadir</button>
          </div>
          <div class="right">
            <div style="width: calc(100% - 1px)" class="bg-localia btn text-white localia-border">
              <div class="d-flex justify-content-center">
                <fa-icon (click)="decrease()" class="mx-2" [icon]="faMinus"></fa-icon>
                <input id="input4" class="w-25 text-center font-weight-bolder bg-localia border-0 text-white" type="text" value="1">
                <fa-icon (click)="increase()" class="mx-2" [icon]="faPlus"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-3 card">
    <div class="location mt-2">
      <fa-icon class="mx-2" [icon]="faMapMarkerAlt"></fa-icon>
      <span>Gáldar, Gran Canaria</span>
    </div>
    <img class="mx-auto" src="assets/images/platano.png" height="150" width="150" alt="">
    <div class="container">
      <h4>Plátano - Fruterías Martínez</h4>
      <h4>0,55€/kg</h4>
    </div>
    <div class="wrapper">
      <div class="container mb-2">
        <div id="button5" class="bottom">
          <div class="left">
            <button style="height: 40px" type="button" (click)="onClick()" class="w-100 bg-white btn localia-color localia-border">Añadir</button>
          </div>
          <div class="right">
            <div style="width: calc(100% - 1px)" class="bg-localia btn text-white localia-border">
              <div class="d-flex justify-content-center">
                <fa-icon (click)="decrease()" class="mx-2" [icon]="faMinus"></fa-icon>
                <input id="input5" class="w-25 text-center font-weight-bolder bg-localia border-0 text-white" type="text" value="1">
                <fa-icon (click)="increase()" class="mx-2" [icon]="faPlus"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-3 card">
    <div class="location mt-2">
      <fa-icon class="mx-2" [icon]="faMapMarkerAlt"></fa-icon>
      <span>Gáldar, Gran Canaria</span>
    </div>
    <img class="mx-auto" src="assets/images/platano.png" height="150" width="150" alt="">
    <div class="container">
      <h4>Plátano - Fruterías Martínez</h4>
      <h4>0,55€/kg</h4>
    </div>
    <div class="wrapper">
      <div class="container mb-2">
        <div id="button6" class="bottom">
          <div class="left">
            <button style="height: 40px" type="button" (click)="onClick()" class="w-100 bg-white btn localia-color localia-border">Añadir</button>
          </div>
          <div class="right">
            <div style="width: calc(100% - 1px)" class="bg-localia btn text-white localia-border">
              <div class="d-flex justify-content-center">
                <fa-icon (click)="decrease()" class="mx-2" [icon]="faMinus"></fa-icon>
                <input id="input6" class="w-25 text-center font-weight-bolder bg-localia border-0 text-white" type="text" value="1">
                <fa-icon (click)="increase()" class="mx-2" [icon]="faPlus"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
